*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: chocolate;
    display: flex;
    align-items: center;
    color: rgb(44, 28, 0);
    font-family: 'Manrope', sans-serif;
}

input, select{
    font-size: 16px;
    border: solid 1px rgb(150, 150, 150);
}

input{
    padding-left: 10px;
    width: 150px;
    height: 45px;
    border-radius: 8px;
}

select:focus, input:focus{
    outline: none;
}

select{
    cursor: pointer;
    width: 100px;
    height: 35px;
    padding-left: 10px;
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-user-select: none;
}

.select{
    position: relative;
    display: flex;
    width: 100px;
    height: 35px;
    line-height: 3;
    background: #5c6664;
    overflow: hidden;
    border-radius: .25em;
}

.select::after {
    color: rgb(207, 135, 0);
    content: '\25BC';
    font-size: 14px;
    position: absolute;
    top: -3px;
    right: 0;
    padding: 0px 10px 5px 10px;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
}

.container{
    background-color: white;
    border-radius: 8px;
    width: 350px;
    height: 320px;
    padding: 20px;
    margin: 0 auto;
    position: relative;
}

.container h1{
    cursor: default;
    text-align: center;
    font-size: 26px;
    padding-bottom: 20px;
    font-weight: 900;
}

.container #valueConverted{
    display: block;
    text-align: center;
    font-size: 17px;
    padding-bottom: 15px;
    cursor: default;
}

.container .group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    border: solid 1px white;
}

.container button#swap{
    cursor: pointer;
    margin-left: 230px;
    padding: 10px;
    background: none;
    border: none;
}

.container button#swap:hover{
    transition: 500ms;
    filter: invert(6%)
}

.container button#swap img{
    width: 40px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}